# I had to force install of some packages:
# 1. There was a peer dependency on React 16 or 17 from a dependency package "@mdx-js/react" used by Storybook.
# Reason: I use React 18
#
# 2. There was a peer dependency on MSW < 1 from "msw-storybook-addon"
# Reason: I use MSW > 1
#
# Keeping it true for now does not hurt
legacy-peer-deps=true
